<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.forklift</string>
	<key>connections</key>
	<dict>
		<key>BC70CD57-DACE-4F66-A7F5-758FBEA3A948</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C7F2339-51B3-4C59-A4E6-D134D8F91FD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Browse and open ForkLift favourites</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ForkLift Favourites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ftp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading favourites…</string>
				<key>script</key>
				<string>./forklift "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>ForkLift Favourites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC70CD57-DACE-4F66-A7F5-758FBEA3A948</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>forkliftfav://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C7F2339-51B3-4C59-A4E6-D134D8F91FD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>ForkLift Favourites
===================

Search ForkLift 3 favourites in Alfred 3+.

Default keyword is "ftp".


Configuration
-------------

IGNORE_LOCAL
    = 1/true   --  Don't show local favourites
    = 0/false  --  Include local favourites in results</string>
	<key>uidata</key>
	<dict>
		<key>0C7F2339-51B3-4C59-A4E6-D134D8F91FD0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>BC70CD57-DACE-4F66-A7F5-758FBEA3A948</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>IGNORE_LOCAL</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string>0.1.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
